<h1>Confirm Delete</h1>

<% if @note %>
  <p>Are you sure you want to delete the following note?</p>
  <p><b><%= @note.title %>: <%= @note.content %></b></p>
  <form action="/<%= @note.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input type="submit" value="Yes, Delete It!">
    <br><br>
    <a href="/">Cancel</a>
  </form>
<% else %>
  <p>Note not found.</p>
<% end %>